*~
.DS_Store
.DS_Store*
private.xml
private.properties
config.properties
__TwigTemplate_*
ehthumbs.db
Thumbs.db
*.log
*.cache
*.cache.html
/app/data/logs/*
/content/uploads/*
*.sqlite
.setup
.ignore
/nbproject/
.idea
node_modules
composer.lock
/vendor/
!/vendor/mjolnic/purephp/