@import '../vendor/less/prefixer.less';
@import '../vendor/less/mixins.less';
@import 'vars.less';

.sticky-footer(60px);

html, body{
    font-family:@font-primary;
    font-size: 14px;
    color:@color-text;
    background: lighten(#525A5E, 30%); //bright gray
}

body{
    background: transparent;
}

figure, figcaption{
    display:block;
    margin:0;
    padding:0;
}

h1, h2, h3, h4, h5, h6{
    font-family:@font-primary;
    margin-top:0;
}

a, a:hover{
    color:@color-primary;
}

.navbar .navbar-brand{
    padding:0;
    display:block;
    z-index:2;
    img{
        max-width: 100%;
    }
}

.navbar.main-navbar{
    border:none;
    background:#fff;
}

.close{
    z-index: 2;
}

.main{
    padding:40px 0;
}

.main-footer{
    background: @color-primary;
    color:#fff;
    a{
        color:#fff;
    }
}

.main-footer > .container{
    padding-top:20px;
}

.account-form{
    max-width: 400px;
    margin:20px auto;
}

.btn, .btn:active, .btn.active, .btn.disabled, .btn:focus, .btn:hover{
    text-shadow: none;
    border:none;
}
.btn-primary{
    .button-variant(#fff, @color-primary, @color-primary);
}
.notifications-panel{
    margin:0 0 20px 0;
    padding:0;
}
.notifications-panel li{
    list-style: none;
    margin:0 0 10px 0;
}

.marketing-text{
    color:#fff;
    text-shadow:1px 1px rgba(0,0,0,0.5);
}


#happycookies {background:#333333; line-height:24px; color:#dfdfdf; text-align:center; padding:5px 20px;font-family: Arial, Helvetica, sans-serif;font-size: 12px;}
#happycookies.happycookies-fixed {position:fixed; top:49px; left:0; width:100%;z-index:99999;}
#happycookies p {margin:0; padding:0;}
#happycookies a {color:#ffffff; display:inline-block; text-decoration:none; padding:0 6px; margin-left:8px;}
#happycookies a:hover {text-decoration: underline;}
#happycookies .happycookies-accept {
    background-color: #4d90fe;
    //background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    //border: 1px solid #3079ed;
    //border-radius: 2px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    margin-right: 0px;
    min-width: 26px;
    outline: 0;
    padding: 0 8px;
    text-align: center;
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

#happycookies .happycookies-accept:hover {
    background: #357ae8;
    //border: 1px solid #2f5bb7;
    //border-top: 1px solid #2f5bb7;
    //box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
    text-decoration: none;
}
#happycookies .happycookies-accept:active, #happycookies .happycookies-accept:focus{
    box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
}